<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="p-6 min-h-screen">
    <nav class="navbar bg-base-100 w-full">
      <div class="flex-1">
        <a href="/">
          <h1
            class="text-center text-3xl font-bold flex items-center gap-2 justify-center"
          >
            <img class="h-10" src="/logo.svg" alt="YT-IPTV-Hono" />
          </h1>
        </a>
      </div>
      <div class="flex-none">
        <a
          target="_blank"
          rel="noreferrer"
          class="btn btn-success flex gap-2 justify-center items-center mr-2"
          href="/stream/download"
        >
          <span> Download M3U File </span>

          <svg
            class="h-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4"
            />
            <path d="M12 13l0 9" />
            <path d="M9 19l3 3l3 -3" />
          </svg>
        </a>

        <a
          class="btn btn-ghost h-fit aspect-square p-2"
          href="github.com/nachat-ayoub/yt-iptv-hono"
        >
          <svg
            class="h-8"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            />
          </svg>
        </a>
      </div>
    </nav>

    <h2 class="text-2xl text-center my-6">
      Selected Video Id: <strong>{{ currentVideoId }}</strong>
    </h2>

    <form
      class="flex items-center justify-center gap-2 my-3"
      method="get"
      action="/"
    >
      <label
        class="w-full input bg-base-200 input-bordered flex items-center gap-2"
      >
        <input type="text" class="grow" name="q" placeholder="Search..." />
        <svg
          class="h-4 w-4 opacity-70"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          />
        </svg>
      </label>
      <button class="btn bg-red-600 text-white hover:bg-red-700">Search</button>
    </form>

    <ul
      class="my-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6"
      id="yt-videos"
    >
      {% for video in videos %}
      <li video-id="{{ video.id }}">
        <form
          class="relative rounded-lg overflow-hidden group"
          action="/update-video/{{ video.id }}"
          method="post"
        >
          {# Video Thumbnail #}
          <div class="relative rounded-lg overflow-hidden">
            <img
              src="{{ video.thumbnail }}"
              alt="{{ video.name }}"
              width="720"
              height="405"
              class="w-full object-cover"
              style="aspect-ratio: 720/405; object-fit: cover"
            />
            <div
              onclick="document.querySelector(`li[video-id='{{ video.id }}'] form`).submit()"
              class="cursor-pointer absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity w-full h-full"
            >
              <a
                href="#"
                class="text-slate-300 border-2 border-slate-300 p-2 rounded-full bg-black/50"
              >
                <span class="sr-only">View video</span>
                {# PlayIcon SVG #}
                <svg
                  class="w-8 h-8"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
                  />
                </svg>
              </a>
            </div>
            <div
              class="absolute bg-gray-900/85 text-sm px-2 py-0.5 rounded-full right-1 bottom-1 flex items-center gap-1"
            >
              {# ClockIcon SVG #}
              <svg
                class="w-3.5 h-3.5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4l3 3M12 2a10 10 0 110 20 10 10 0 010-20z"
                />
              </svg>
              <span>{{ video.duration }}</span>
            </div>
          </div>

          {# Video Details #}
          <div class="py-3 flex gap-4">
            {% if video.author %}
            <img
              class="rounded-full aspect-square h-fit"
              src="{{ video.author.bestAvatar.url }}"
              alt="{{ video.author.name }}"
              height="40"
              width="40"
            />
            {% endif %}
            <div>
              <h3 class="text-base font-bold line-clamp-2">{{ video.name }}</h3>
              <div class="text-[#8e8a8a] font-semibold">
                <h4>{{ video.author.name }}</h4>
                <h4>
                  {{ video.views | formatViews }} views • {{ video.uploadedAt }}
                </h4>
              </div>
            </div>
          </div>
        </form>
      </li>
      {% else %}
      <li class="my-10 flex-1 px-2 text-center text-xl">
        "0" results, Please search for a video
      </li>
      {% endfor %}
    </ul>

    <script></script>
  </body>
</html>
